@import '../../../../_variables';

.menuItemsList {
    padding: 0 20px;
}
.menuItem {
    padding: 12px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 12px;
    color: $grey99;
}
.menuItemTablet {
    display: none;
    padding: 12px 0;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 12px;
    color: $grey99;
}
.menuItemTablet span {
    margin: 0 7px 0 7px;
}
.menuItemTablet svg {
    margin-left: 7px;
}
.menuItem span {
    margin: 0 7px 0 7px;
}
.menuItem svg {
    margin-left: 7px;
}
.divider {
    height: 1px;
    width: 100%;
    background-color: $greyE5;
}
.dividerTablet {
    display: none;
    height: 1px;
    width: 100%;
    background-color: $greyE5;
}

@media all and (min-width: 1024px) {
    li.menuItemTablet {
        padding: 12px 0;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        font-size: 12px;
        color: $grey99;
    }
    div.dividerTablet {
        display: block;
    }
}

@media all and (min-width: 1540px) {
    .menuItemsLink > * :hover {
        color: #CC6633;
        cursor: pointer;
    }
    
}