@import '../../../variables';
@media all and (min-width: 1024px) {
  div.textContent {
    order: 2;
    flex-flow: column-reverse;
  }
  span.publishedLabel {
    display: unset;
  }
 .userLink {
   order: 2;
   flex-direction: row-reverse;
 }
 img.avatar {
   margin: 0 7px 0 7px;
 }
 .createdAt {
   order: 1;
 }
}
@media all and (min-width: 1540px) {
  .textContent {
    flex-basis: 672px;
  }
  .title {
    position: relative;
  }
  .postLink::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .username {
    position: relative;
    z-index: 1;
  }
}
.textContent > * {
  flex: 1 1 100%;
}
.textContent {
  display: flex;
  flex-flow: row wrap;
  padding: 22px 20px 13px;
}
.metaData {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 10px;
  line-height: 12px;
}
.userLink {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 20px;
  padding: 0 6px 0 0;
}
.userLink:hover a {
  text-decoration: underline;
}
.avatar {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  margin: 0 7px 0 0;
}
.username {
  color: $orange;
}
.createdAt, .createdAt * {
  color: $grey99;
} 
.title {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  margin: 0;
  padding: 7px 0 0;
}
.postLink {
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.publishedLabel {
  display: none;
}