@import '../../variables';
.textarea {
  resize: none;
  padding: 18px 16px;
  margin-top: 20px;
  height: 89px;
  width: 100%;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 3px 3px 0px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
.textarea:focus-visible{
    outline: 1px solid $orange;
}
.textarea_btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: white;
  width: 220px;
  height: 50px;
  background: #CC6633;
  border-radius: 0px 0px 3px 0px;
}
.textarea_bottom {
  display: flex;
  justify-content: space-between;
}
.error {
  color: red;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}