@import '../../variables';

.card {
    background-color: $white;
    border-radius: 7px;
    display: flex;
    flex-flow: row nowrap;
    flex-direction: column;
    position: relative;
} 
.card > * {
    flex: 1 1 100%;
}
