@import '../../variables';
@media all and (min-width: 1024px) {
    li.card {
        flex-direction: row;
    }
}
@media all and (min-width: 1540px) {
    .card {
        padding: 0 60px;
    }
    .card:hover h2 a, .card:focus-within h2 a {
        color: $orange;
    }
}
.card {
    background-color: $white;
    border-radius: 7px;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
} 
.card > * {
    flex: 1 1 100%;
}
.card:hover, .card:focus-within {
    outline: 1px solid $greyD9;
}