@import '../../../variables';
@media all and (min-width: 1024px) {
  .preview {
    order: 1;
  }
  div.preview {
    max-height: 178px;
  }
}
.preview {
  max-height: 760px;
}
.previewImg {
width: 100%;
height: 100%;
object-fit: cover;
} 